* {
    margin: 0;
    padding: 0;
}
#calculator{
    position: relative;
    margin: 50px auto;
    width: 350px;
    height: 400px;
    border: 1px darkslategray;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    -webkit-box-shadow: 2px 2px 10px darkslategray;
    -moz-box-shadow: 2px 2px 10px darkslategray;
    box-shadow: 2px 2px 10px darkslategray;
    background-color:#FFF68F
}
#calculator_table{
    position: relative;
    margin: 10px auto;
    border-collapse:separate;
    border-spacing:10px 20px;
}
h3{
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0 auto;
}
#calculator_table td{
    width: 50px;
    height: 30px;
    border: 1px darkslategray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}
#calculator_table td input{
    font-size: 16px;
    border: none;
    width: 50px;
    height: 30px;
    color: white;
}
input.btn_color1{
    background-color: #FF0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input.btn_color2{
    background-color:#080808;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input.btn_color3{
    background-color:#1E90FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input.btn_color4{
    background-color: #FF0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input:active{
    -webkit-box-shadow: 3px 3px 3px ;
    -moz-box-shadow: 3px 3px 3px gray;
    box-shadow: 3px 3px 3px gray;

}
